:host, header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header > div > a > button {
    width:12em;
}

.btnHeader {
    margin: 0 1%;
}