@import "../../../styles.scss"; // var.scss

.quote>span {
    font-size: 16px;
    color: #f3f3f3;
}

.author>span {
    font-size: 14px;
    color: #ff9999;
    font-style: italic;
    margin-top: .5em; /* This is here specifically because the margin spacer 
    will only show up IF there is an author. That way the quote can take the
    whole space if I do not have one specified*/
}

