<button type="button" id="timerButton" (click)="GetRandomQuote()" class="glowButton">ColeLamers.com</button>
<div class="table">
    <div class="row">
        <div *ngIf="isLoading" class="loadingImage">
            <img src="../../../assets/images/loadingcat.gif" alt="Loading..." height="50" width="50" />
        </div>
        <div *ngIf="!isLoading" class="cell quote">
            <span>{{randomQuote.quote}}</span>
        </div>
    </div>
    <div class="row" *ngIf="randomQuote.author">
        <div class="cell author">
            <span> {{randomQuote.author}}</span> 
 </div>
</div>