<div style="display:flex; align-items:center; justify-content: center;">
    <span>Ich arbeite daran, sei geduldig Bruder...</span>
</div>
<div style="display:flex; align-items:center; justify-content: center;">
    <span>Mittlerweile, seht euch dises Video an, während euch wartet wird.</span>
</div>
<div style="display:flex; align-items:center; justify-content: center;">
    <iframe width="1841" height="798" src="https://www.youtube.com/embed/EM8my7_ApbA" title="Schreien! (Turbo Remix)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div>
    <p>
        Haben Sie ein bisschen Kleingeld für 'nen Sechserträger Pepsi Light?
        </p>
        <p>
        Baby, Baby, du siehst aus, als würdest du dein Zimmer teil'n
        </p>
        <p>
        „Was machst du, was machst du, was machst du?“ Ich mach' Webdesign
        </p>
        <p>
        Samstag kommt nicht mal der Papst mit Peitsche ins Berghain
    </p>
    <p>
        Langsam kommt die Straßenbahn im Betriebshof Indira-Gandhi an
        </p>
        <p>
        Die ersten Füchse werden überfahr'n
        </p>
        <p>
        (Eins, zwei, drei)
    </p>
    
    <p>
        Berlin, ganz insgeheim
        </p>
        <p>
        Geh'n wir nachts auf ein Parkhaus und schrei'n, schrei'n, schrеi'n, schrei'n, schrei'n
        </p>
        <p>
        Berlin, ja, ganz allеin
        </p>
        <p>
        Berliner Luft ist rein, komm, wir schrei'n, schrei'n, schrei'n, schrei'n, schrei'n
    </p>
    
    <p>
        Mama, Mama, Mama, der Mann da vorne trägt ein Kleid</p>
        <p>
        Hab' ich vor der Tür gefunden, find' ich geil, stell auf eBay rein</p>
        <p>
        Da vorne vor dem Späti pafft Giffey mit der Polizei</p>
        <p>
        Vokuhila, Vokuhila, Vokuhila ist der heiße Scheiß
    
    </p>
    <p>
        Langsam kommt die Straßenbahn im Betriebshof Indira-Gandhi an</p>
        <p>
        Die ersten Füchse werden überfahr'n</p>
        <p>
        (Eins, zwei, drei)
    
    </p>
    <p>
        Berlin, ganz insgeheim</p>
        <p>
        Geh'n wir nachts auf ein Parkhaus und schrei'n, schrei'n, schrei'n, schrei'n, schrei'n</p>
        <p>
        Berlin, ja, ganz allein</p>
        <p>
        Berliner Luft ist rein, komm, wir schrei'n, schrei'n, schrei'n, schrei'n, schrei'n</p>
        <p>
        (Eins, zwei, drei, hey)
    </p>
    
    
    
    <p>
        Berlin, ganz insgeheim</p>
        <p>
        Geh'n wir nachts auf ein Parkhaus und schrei'n, schrei'n, schrei'n, schrei'n, schrei'n </p>
        <p>(Wouhh)
    </p>
    
    <p>
        Berlin, ja, ganz allein</p>
        <p>
        Berliner Luft ist rein, komm, wir schrei'n, schrei'n, schrei'n, schrei'n, schrei'n</p>
        <p>
        Berlin, ganz insgeheim</p>
        <p>
        Geh'n wir nachts auf ein Parkhaus und schrei'n, schrei'n, schrei'n, schrei'n, schrei'n
    </p>
    <p>
        Die Straßenbahn fährt langsam aus dem Betriebshof Indira-Gandhi raus</p>
        <p>
        Berliner Luft schon fast verbraucht
    </p>
</div>