<!-- Display a loading indicator while data is being fetched -->
<div *ngIf="isLoading" class="loading-spinner">
  <div class="loadingImage">
    <img src="../../../assets/images/loadingcat.gif" alt="Loading..." height="50" width="50" />
  </div>
  <div id="idLoadingText">
    <span>Loading</span>
  </div>
</div>

<!-- Once data is loaded, display the actual content -->
<div *ngIf="!isLoading">
  <div class="dateTitle">
    <h4>{{blogById.title}}</h4>
  </div>
  <div>
    <p class="dateTitle">
      <span>Date: &nbsp;</span>
      <span class="mediaSubtitle">{{this.getDateYYMMDD()}}</span>
    </p>
  </div>
  <div [innerHTML]="safeHtmlContent"></div>
</div>
