<!-- Display a loading indicator while data is being fetched -->
<div *ngIf="isLoading" class="loading-spinner">
  <div class="loadingImage">
    <img src="../../../assets/images/loadingcat.gif" alt="Loading..." height="50" width="50" />
  </div>
  <div id="idLoadingText">
    <span>Loading</span>
  </div>
</div>

<!-- Once data is loaded, display the actual content -->
<div *ngIf="!isLoading">
  <div>
    <p>{{blogById.title}}</p>
  </div>
  <div>
    <p>
      <span>Date: </span>
      <span>{{this.getDateYYMMDD()}}</span>
    </p>
  </div>
  <div [innerHTML]="htmlContent"></div>
</div>