/*  For some reason adding this in while testing one time fixed the issue where 
    upon refresh, the pathing for these would get lost. So I hardcoded it in 
    here to fix that.
*/
@import '../../../../src/assets/css/colelamers.css';
@import '../../../../src/assets/css/normalize.css';
@import '../../../../src/assets/css/skeleton.css';
@import '../../../styles.scss';

// This is how you use dynamic css styling. Will potentially be deprecated soon
// so maybe don't rely on it but it's how you do css styling for what I'm doing.
// https: //stackoverflow.com/questions/36265026/angular-2-innerhtml-styling
// 
// I don't know that you need :host preceeding so I'm just going to leave it out

::ng-deep .ctr {
    align-items: center;
}

::ng-deep .ctrDiv {
    text-align: center;
}

::ng-deep .mediaSubtitle {
    color: coral;
}

::ng-deep p {
    font-size: 16px;
}

::ng-deep .paragraphHeader {
    font-weight: bold; 
    font-style: italic;
    color: firebrick;
}

::ng-deep pre {
    background-color: #1c0005;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin: 0 0 0 30px;
    color: #ff0048;
    padding: 5%;
}

::ng-deep code {
    color: #252422;
    font-size: 14px;
    font-family: Consolas;
}

::ng-deep .preWrap {
    white-space: pre-wrap;
}