<!-- Display a loading indicator while data is being fetched -->
<div *ngIf="isLoading" class="loading-spinner">
    <div class="loadingImage">
        <img src="../../../assets/images/loadingcat.gif" alt="Loading..." height="50" width="50" />
    </div>
    <div id="idLoadingText">
        <span>Loading</span>
    </div>
</div>

<div *ngIf="!isLoading">
    <div class="glowButton blogPageTitle">
        <span>
            My reality, in treatise form
        </span>
    </div>
    <div *ngFor="let blogPost of blogs" class="container-fluid">
        <div class="row align-items-center">
            <div class="col-1 btnSpace">
                <a [routerLink]="['/Blog', blogPost.id]">
                    <button>
                        <span>
                            {{blogPost.title}}
                        </span>
                    </button>
                </a>
            </div>
            <div class="col">
                <span>
                    {{this.getBlogDate(blogPost.date)}}
                </span>
            </div>
        </div>
    </div>
</div>
