<div>
    <app-quote></app-quote>
</div>
<div>
    <div *ngFor="let btns of buttons">
        <div *ngIf="btns.include && !btns.isSupportBtn" class="mediaCenterChildTag">
            <div class="row fullDivWidth">
                <a [href]="btns.hrefSrcText">
                    <button class="{{btns.cssClass}}">
                        <img *ngIf="btns.hasImage" [src]="btns.imgSrcText">
                        <span>
                            {{btns.spanText}}
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="orgSupport">
        <span class="orgSupportText">Here are some things I support:</span>
    </div>

    <div *ngFor="let btns of buttons">
        <div *ngIf="btns.include && btns.isSupportBtn" class="mediaCenterChildTag">
            <div class="row fullDivWidth">
                <a [href]="btns.hrefSrcText" value="btns.imgSrcText">
                    <button class="{{btns.cssClass}}">
                        <img *ngIf="btns.hasImage" [src]="btns.imgSrcText">
                        <span>
                            {{btns.spanText}}
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>